@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer components {
  .btn {
    @apply hover:bg-black ring-black text-sm py-1.5 px-3 ring-1 rounded-md duration-150 font-semibold font-[roboto] hover:text-white;
  }
  .link {
    @apply hover:border-b-2 hover:border-sky-400 py-1;
  }
  .active {
    @apply border-b-2 border-sky-400;
  }
  .icons {
    @apply p-4 rounded-full;
  }
  .mark {
    @apply text-sky-400;
  }
}

.animate {
  animation: mymove 5s infinite;
}
@keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
